
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    
</head>
<body>

    <div class="Contact-1">
        <h1>CONTACT OWNER</h1>

        <form action="">
            <p>Enter Your Name:</p>
            <input type="text">
            <p>Enter Your Phone Number:</p>
            <input type="number">
            <p>Enter Your Email Address:</p>
            <input type="email">
            <p>Enter Your message:</p>
            <input type="text">
        </form>

        <br>
        <button>Submit</button>
    </div>
</body>
</html>

