<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/css/Admin.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>Kodisha-Dashboard</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <h3>KODI <span class="danger">SHA</span></h3>
                    <div class="close" id="close-btn">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp ">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Customers</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">house</span>
                    <h3>Properties</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Analytics</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>Messages <span class="message-count">26</span></h3>

                </a>

                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">add</span>
                    <h3>Add Listing</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!----------------MAIN SECTION ---------------- -->

        <div>
            @RenderBody();
        </div>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active"> light_mode</span>
                    <span class="material-icons-sharp"> dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Kadima</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                       
                        <img src="~/Content/Images/Image2.png" />
                    </div>
                </div>
            </div>
            <div class="customer-review">
                <h2>Reviews</h2>
                <div class="reviews">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/Content/Images/Image2.png" />
                        </div>
                        <div class="message">
                            <p>
                                <b>
                                    Joy Kibet
                                </b> The houses are in good quality and nice security
                            </p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/Content/Images/house3.jpg" />
                        </div>
                        <div class="message">
                            <p>
                                <b>
                                    Joy Kibet
                                </b> The houses are in good quality and nice security
                            </p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="currentList.jpg" alt="">
                        </div>
                        <div class="message">
                            <p>
                                <b>
                                    Joy Kibet
                                </b> The houses are in good quality and nice security
                            </p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>

                </div>
                <div class="reviews add-listing">
                    <div>
                        <span class="material-icons-sharp">add</span>
                        <h3>Add Listing</h3>
                    </div>
                </div>


            </div>

        </div>
    </div>
        <script src="~/Content/Js/admin.js"></script>
</body>
</html>
