
@{
    ViewBag.Title = "RentListings";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/listings.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <section id="oneBedrooms">
        <div class="Intro_Note">
            <h2>Available apartments for rent</h2>
        </div>
        <h2 class="oneB">One Bedrooms</h2>
        <div class="slide_container reveal">

            c
            <div class="slide">
                <img src="~/images/house2.jpg" alt="Image 1" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
                <img src="~/images/house3.jpg" alt="Image 1" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
                <img src="~/images/house2.jpg" alt="Image 1" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
                <img src="~/images/house3.jpg" alt="Image 1" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
                <img src="~/images/house2.jpg" alt="Image 1" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
        </div>
    </section>

    <section id="TwoBedrooms">
        <h2 class="other">Other Listings</h2>
        <div class="wrapper reveal">

            <div class="carousel ">
                <div class="slidees"></div>
                <img src="~/images/house1.jpg" />
                <img src="~/images/house2.jpg" />
                <img src="~/images/house3.jpg" />
                <img src="~/images/house3.jpg" />
                <img src="~/images/house1.jpg" />
                <img src="~/images/house2.jpg" />
                <img src="~/images/house3.jpg" />

            </div>

        </div>
    </section>
    <script src="~/js/listings.js"></script>

</body>
</html>

