
@{
    ViewBag.Title = "RentListings";
}

<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Listing.css" rel="stylesheet" />
</head>
<body>
    <section id="oneBedrooms">
        <div class="Intro_Note">
            <h2>Available apartments for rent</h2>
        </div>
        <h2 class="oneB">One Bedrooms</h2>
        <div class="slide_container reveal">

            
            <div class="slide">
              
                <img src="~/Content/Images/house2.jpg" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
               
                <img src="~/Content/Images/house1.jpg" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
              
                <img src="~/Content/Images/house2.jpg" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
                
                <img src="~/Content/Images/house3.jpg" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
            <div class="slide">
               
                <img src="~/Content/Images/house2.jpg" />
                <h3>1 bedroom in Langata</h3>
                <h4>$ 23345/mo</h4>
            </div>
        </div>
    </section>

    <section id="TwoBedrooms">
        <h2 class="other">Other Listings</h2>
        <div class="wrapper reveal">

            <div class="carousel ">
                <div class="slidees"></div>
                <img src="~/Content/Images/house1.jpg" />
                <img src="~/Content/Images/house1.jpg" />
                <img src="~/Content/Images/house1.jpg" />
                <img src="~/Content/Images/house1.jpg" />
                <img src="~/Content/Images/house1.jpg" />

            </div>

        </div>
    </section>
  
    <script src="~/Content/Js/Listing.js"></script>
</body>
</html>

