.detailsForm {
    margin: auto;
    transform: translateY(25%);
    width: 40%;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.regForm {
    margin: 2vh auto;
    width: 40%;
    padding: 4vh 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@media screen and (max-width:500px) {
    .regForm, .detailsForm {
        width: 100%;
    }
}

.form-title {
    text-align: center;
    color: rgba(8, 99, 124, 0.925);
    font-size: 28px;
    font-family: 'Noto Serif', serif;
    font-weight:700;
    letter-spacing:1.5px;
}

.Loginbtn, .Registerbtn {
    background-color: rgba(8, 99, 124, 0.925);
    color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: solid 1px #000;
    font-size: 20px;
    margin:4vh 0;
    display:block;
}

    input {
        width: 70%;
    }

    .input {
        height: 45px;
    }

    label {
        font-size: 22px;
        margin: 5px 0;
    }

    span, a {
        font-size: 22px;
        color: rgba(8, 99, 124, 0.925);
    }
