@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-white: #fff;
    --color-warning: #ffbb55;
    --color-info-dark: #798da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius1: .4rem;
    --border-radius2: .8rem;
    --border-radius3: 1.2rem;
    --card-padding: 1.8rem;
    --padding1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light)
}

/* Dark Theme */

.dark-themes {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark-variant: #edeffd;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(var(--color-light))
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background: var(--color-background);
    user-select: none;
    color: var(--color-dark);
}

img {
    object-fit: cover;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: .87rem;
}

h4 {
    font-size: .8rem;
}

h5 {
    font-size: .77rem;
}

small {
    font-size: .75em;
}

p {
    color: var(--color-dark-variant);
}

.item-show {
    height: 50vh;
}

    .item-show img {
        height: 100%;
        object-fit: cover;
    }

.containeer {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
    grid-gap: 2rem;
    margin: 4vw;
}

.property {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60vw;
}

    .property #propProperties small {
        background-color: var(--color-info-light);
        padding: 1vh;
        border-radius: var(--border-radius2);
        font-size: 1.2rem;
    }

    .property .propName {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background: var(--color-white);
        padding: 4vw 2vw;
        border-radius: var(--border-radius1);
        box-shadow: var(--box-shadow);
    }

#propProperties > * {
    margin-top: 2vh;
}

.p-features {
    display: flex;
    align-items: center;
    gap: 2rem;
}

    .p-features span {
        background-color: var(--color-info-light);
        border-radius: 50%;
        padding: .5vw;
        color: var(--color-dark-variant);
        font-size: 2rem;
    }

    .p-features small {
        font-size: 1.2rem;
    }


#accordion-item {
    background: var(--color-white);
    padding: 4vw 2vw;
    margin-top: 2vh;
}

.accord li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
}

    .accord li label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        cursor: pointer;
    }

        .accord li label span {
            transform: rotate(90deg);
            color: var(--color-info-dark);
        }

.accord .content {
    line-height: 26px;
    overflow: hidden;
    max-height: 0;
    font-size: 1.2rem;
}


    .accord .content h3 {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1vh 0;
    }

        .accord .content h3 span {
            color: var(--color-info-dark);
            display: flex;
            align-items: center;
        }

    .accord .content.open {
        max-height: 100%;
    }

.contact {
    background: var(--color-white);
    padding: 4vh 2vw;
    border-radius: var(--border-radius1);
    box-shadow: var(--box-shadow);
}

    .contact label {
        display: block;
        color: var(--color-dark);
        font-size: 1.2rem;
        margin: 2vh 0;
    }

    .contact h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    .contact input {
        background-color: var(--color-info-light);
        border: none;
        border-radius: var(--border-radius2);
        width: 100%;
        padding: 2vh;
        outline: none;
    }

    .contact textarea {
        background-color: var(--color-info-light);
        border: none;
        border-radius: var(--border-radius2);
        width: 100%;
        padding: 2vh;
        outline: none;
    }

    .contact button {
        width: 100%;
        padding: 2vh;
        background: var(--color-dark);
        color: var(--color-white);
        border: none;
        border-radius: var(--border-radius1);
        margin-top: 2vh;
    }
