
:root {
    --color-background: #f6f6f9;
    --color-white: #fff;
    --color-dark-variant: #677483;
    --color-light: rgba(132,139,200,0.18);
}

.dark-themes {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark-variant: #edeffd;
    --color-light: rgba(0,0,0,0.4);
   
}



* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: var(--color-background);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: .87rem;
}

h4 {
    font-size: .8rem;
}

h5 {
    font-size: .77rem;
}

p {
    color: var(--color-dark-variant);
}


.navopacity {
    background-color: rgb(161, 179, 179);
}

.navi {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: aliceblue;
    width: 100%;
    opacity: 1;
}



.navlink {
    display: flex;
    padding: 2vh 2vw;
    flex: 2;
    gap: 2.5rem;
    align-items: center;
}

    .navlink a, li {
        text-decoration: none;
        color: var(--color-dark-variant);
        font-size: var(--p-font);
        position: relative;
    }

/* Burger menu */
.burger div {
    width: 25px;
    height: 3px;
    background-color: hsl(0, 0%, 8%);
    margin: 5px;
}

.burger {
    display: none;
}


/* Nav Bar */


.navlink a li:hover, li:hover {
    color: rgb(14 116 144);
    transition: var(--transition);
}

.navlink .inner {
    display: none;
    padding: 2rem;
    position: absolute;
    width: 25vw;
    height: auto;
    z-index: 1;
    border-radius: 1rem;
    opacity: .9;
    background-color: #fff;
    opacity: 1;
    text-align: center;
}

    .navlink .inner a {
        font-size: small;
    }

.navlink .prop:hover .inner {
    display: block;
}

.logo-container {
    padding: 2vh 2vw;
    flex: 1;
}



.btns {
    display: flex;
    gap: 2rem;
    flex: 2;
    align-items: center;
}

.addList {
    background-color: rgb(4, 50, 63);
    color: #f4f4f4;
    border: none;
    padding: .5vh 2vw;
    font-size: var(--p-font);
}

    .addList:hover {
        background-color: rgba(7, 87, 109, 0.918);
        transition: var(--transition);
    }

.logihn {
    border: none;
    padding: var(--btn-padding);
    background: inherit;
    font-size: var(--p-font);
}

.sign {
    border: none;
    padding: .5vw 1vw;
    border-radius: 1rem;
    background-color: rgb(14 116 144);
    font-size: var(--p-font);
    color: #f4f4f4;
}

    .sign:hover {
        background: rgb(8, 99, 124);
    }

.reg {
    display: flex;
}



.foot {
    width: 100%;
    background: linear-gradient(to left,#efefef,#e8e8e8);
    margin-top: 5vh;
}

.myFooter a {
    color: #333;
}

    .myFooter a:hover {
        color: cadetblue;
        transition: .3s ease;
    }

.myFooter {
    padding: 5vh 3vw;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

    .myFooter h2, p, h3, li {
        font-weight: normal;
        font-size: 16px;
    }

    .myFooter h2, h3 {
        font-weight: 600;
    }

.menu ul {
    margin: 0;
    padding: 0;
}

.copy {
    background: #100e0e;
    padding: 3vw;
    text-align: center;
    color: #fff;
}

.links i {
    color: cadetblue;
    font-size: 25px;
    text-align: left;
}






@media screen and (max-width:768px) {
    .myFooter {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3vh;
    }

    .navi {
        display: block;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        opacity: .8;
    }

    .burger {
        display: block;
        position: absolute;
        right: 0;
        top: 2vh;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
        transform: translateY(-100vw);
        position: fixed;
        animation: fade 1s linear;
        position: absolute;
    }

    .btns {
        display: flex;
        flex-direction: column;
        transform: translateY(-100vw);
        position: fixed;
        padding-bottom: 4vh;
    }

    .navlink.open-nav {
        display: flex;
        transition: 0.4s ease-in-out;
        transform: translateX(0vw);
        position: relative;
    }

    .btns.open-nav {
        position: relative;
        transition: 0.4s ease-in-out;
        transform: translateX(0vw);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@keyframes fade {
    from {
        transform: translateX(-100vw);
        opacity: 0.8;
    }

    to {
        transform: translateX(0vw);
        opacity: 1;
    }
}
